<!-- Ini Page MenuAdmin.ejs -->
<html>
    <head>
        <title>Adminisrator | Menu</title>
        <!-- <link rel="stylesheet" href="./css/templatemenuadmin.css"/> -->
        <style type="text/css">

            body{
                background-color:grey;
            }


            .container-top{
                background-color:lavender;
                margin:0 auto;
                width: 1300px; /*ini lebar kanan-kiri*/
                height: 60px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 10px;
            }

            .logo {
                text-align: center;
                display: flex;
                flex-direction: column;
            }

            .logo img{
                align-self: center;  
                padding: 1px;
            }

            .container-header{
                background-color:cornsilk;
                margin:0 auto;
                width: 1300px; /*ini lebar kanan-kiri*/
                height: 25px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 10px;
                text-align: center;
            }


            .list-menu-right{
            /*     background-color:whitesmoke;
                margin:0 auto;
                width: 1300px; /* ini lebar kanan-kiri
                height:6px; /* ini tinggi atas-bawah
                border:1px black;
                padding: 10px;  */
                text-align: right;
                
            }
            .list-menu-left{
            /*     background-color:aqua;
                margin:0 auto;
                width: 1300px; ini lebar kanan-kiri
                height:6px; ini tinggi atas-bawah
                border:1px black;
                padding: 10px; */
                text-align: left;
            }

            .container-content{
                background-color:cornsilk;
                margin:0 auto;
                width: 1300px; /*ini lebar kanan-kiri*/
                height: 370px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 10px;
            }
            .list-menu-center{
                background-color:bisque;
                margin:0 auto;
                width: 400px; /*ini lebar kanan-kiri*/
                height: 15px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 5px;
                text-align: center;
            }

            .form-content{
                background-color:bisque;
                margin:0 auto;
                width: 1000px; /*ini lebar kanan-kiri*/
                height: 20px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 5px;
                text-align: center;
                align-self: center;
                padding: 5px 0;    
                flex-direction: column;
            }

            .container-footer{
                background-color:bisque;
                margin:0 auto;
                width: 1300px; /*ini lebar kanan-kiri*/
                height: 1px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 10px;
                text-align: center;
            }

            .borderbeforebottom{
                background-color:coral;
                margin:0 auto;
                width: 1300px; /*ini lebar kanan-kiri*/
                height: 1px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 10px;
                text-align: center;
            }

            .container-bottom{
                background-color:darkgray;
                margin:0 auto;
                width: 1300px; /*ini lebar kanan-kiri*/
                height: 1px; /*ini tinggi atas-bawah*/
                border:1px black;
                padding: 10px;
                text-align: center;
            }

    
        </style>
    </head>
    <body>
        <div class="container-top">
            <div class="logo">
                <img alt="logo sekolah" width="50px" src="./gambar/logo-smk.jpg"/>
                <label>MENU ADMIN</label>
                <br>
            </div>
        </div>
        <div class="container-header">
            <div class="list-menu-left">
                <label>ANDA LOGIN SEBAGAI ID PEGAWAI <b><%= idpegawai %></b> </label>
            <div class="list-menu-right">
                <span id="tglwaktu"></span>
                <script>
                      var waktu = new Date();
                          var tahun = waktu.getFullYear();
                          var bulan = waktu.getMonth();
                          var tgl = waktu.getDate();
                          var hari = waktu.getDay();
                          var jam = waktu.getHours();
                          var menit = waktu.getMinutes();
                          var sekon = waktu.getSeconds();
                          switch(bulan){
                                  case 0:
                                      bulan="JANUARI";
                                      break;
                                  case 1:
                                      bulan="FEBRUARI";
                                      break;
                                  case 2:
                                      bulan="MARET";
                                      break;
                                  case 3:
                                      bulan="APRIL";
                                      break;
                                  case 4:
                                      bulan="MEI";
                                      break;
                                  case 5:
                                      bulan="JUNI";
                                      break;
                                  case 6:
                                      bulan="JULI";
                                      break;
                                  case 7:
                                      bulan="AGUSTUS";
                                      break;
                                  case 8:
                                      bulan="SEPTEMBER";
                                      break;
                                  case 9:
                                      bulan="OKTOBER";
                                      break;
                                  case 10:
                                      bulan="NOPEMBER";
                                      break;
                                  case 11:
                                      bulan="DESEMBER";
                                      break;
                                  default: 
                                 }
  
                                 switch(hari){
                                    case 0:
                                      hari="AHAD";
                                      break;
                                    case 1:
                                      hari="SENIN";
                                      break;
                                  case 2:
                                      hari="SELASA";
                                      break;
                                  case 3:
                                      hari="RABU";
                                      break;
                                  case 4:
                                      hari="KAMIS";
                                      break;
                                  case 5:
                                      hari="JUMAT";
                                      break;
                                  case 6:
                                      hari="SABTU";
                                      break;
                                  default:   
                                  }
  
                                  jam = ("0" + jam).slice(-2);
                                  menit = ("0" + menit).slice(-2);
                                  sekon = ("0" + sekon).slice(-2);
  
                                  dwaktu= "TIME SERVER : "+hari+", "+tgl+" "+bulan+" "+tahun+" "+jam+":"+menit+":"+sekon+" WIB";
  
                              document.getElementById("tglwaktu").innerHTML = dwaktu.toLocaleString();
                </script>
                
            </div>
            </div>
        </div>
        <div class="container-content">
            <div class="list-menu-center">
                <label>||</label>
                <a href="/admin/beranda"><label>BERANDA</label></a>
                <label>||</label>
                <a href="/admin/pegawai"><label>PEGAWAI</label></a>
                <label>||</label>
                <a href="/admin/laporan"><label>LAPORAN</label></a>
                <label>||</label>
                <a href="/admin/pengaturan"><label>PENGATURAN</label></a>
                <label>||</label> 
            </div>
            <div class="form-content">
                <label>Selamat Datang di Sistem Presensi Pegawai v1.0.0 ini adalah Halaman Beranda dan Menu</label>
                <a href="/admin/logout">LogOut</a>
            </div>
        </div>
        <div class="container-footer"></div>
        <div class="borderbeforebottom"></div>
        <div class="container-bottom"></div>
    </body>
</html>